---
- name: update apt
  apt: update_cache=yes
  become: yes

- name: install base packages
  apt: pkg={{ item }} state=latest
  become: yes
  with_items:
    - git-core
    - curl
    - zlib1g-dev
    - build-essential
    - libssl-dev
    - libreadline-dev
    - libyaml-dev
    - libsqlite3-dev
    - sqlite3
    - vim
    - libxml2-dev
    - libxslt1-dev
    - libcurl4-openssl-dev
    - python-software-properties
    - nfs-common
    - tree
    - htop
    - python-pip
    - zip